@import 'reset';
/*@import 'vars';*/

/* VARS */

:root {
  --red: #e1315b;
  --blue: #008dcb;
  --black: #242728;
  --white: #fef5dd;
  --yellow: #ffec5c;
  --orange: #f47d4a;
}

/* COLORS */

.color--red {
  color: var(--red);
}

.color--blue {
  color: var(--blue);
}

.color--black {
  color: var(--black);
}

.color--white {
  color: var(--white);
}

.color--yellow {
  color: var(--yellow);
}

.color--orange {
  color: var(--orange);
}

/* FONT FAMILY */

.font--chewy {
  font-family: Chewy;
}

.font--opensans-bold {
  font-family: 'OpenSans Bold';
}

.font--opensans-semibold {
  font-family: 'OpenSans SemiBold';
}

/* FONT SIZE */

.size--14 {
  font-size: 1.4rem;
  line-height: 2rem;
}

.size--20 {
  font-size: 2rem;
}

.size--24 {
  font-size: 2.4rem;
}

.size--30 {
  font-size: 3rem;
}

.size--40 {
  font-size: 4rem;
}

.size--60 {
  font-size: 6rem;
}

/* SPACING */

.full--Width__wrap {
  width: 100%;
}

.margin--bottom {
  margin-bottom: 5rem;
}

/* FONT LOADER */

.wf-chewy-n4-inactive .font--chewy,
.wf-opensanssemibold-n4-inactive .font--opensans-semibold,
.wf-opensansregular-n4-inactive body,
.wf-opensansbold-n4-inactive .font--opensans-bold {
  font-family: Helvetica;
}

.wf-opensansregular-n4-active body {
  font-family: 'OpenSans Regular';
}

.wf-chewy-n4-active .font--chewy {
  font-family: Chewy;
}

.wf-opensanssemibold-n4-active .font--opensans-semibold {
  font-family: 'OpenSans SemiBold';
}

.wf-opensansbold-n4-active .font--opensans-bold {
  font-family: 'OpenSans Bold';
}

/* ------------------- */
/* BASIC */

body {
  font-family: 'OpenSans Regular';
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1 {
  font-size: 3rem;
}

/* ------------------- */
/* DRY */

.hidden {
  display: none;
}

.button {
  width: 22rem;
  height: 6rem;
  background: var(--black);
  color: var(--white);
  text-decoration: none;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 .4rem .5rem .2rem color(var(--black) a(30%));

  &:hover, &:active {
    color: var(--red);
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;

  &--column {
    flex-flow: column;

    &--wrap {
      flex-flow: column wrap;
    }
  }

  &--row {
    flex-flow: row;

    &--wrap {
      flex-flow: row wrap;
    }
  }
}

.bg-title {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 50rem;
    height: 1rem;
    border-radius: .5rem;
    background: var(--white);
  }
}

/* ------------------- */
/* PAGE HEADER */

.page__header {
  height: 6rem;
  width: 100%;
  padding: 0 3rem;
  background: var(--yellow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 5;
}

.page__nav {
  display: flex;

  &__item {
    margin: 2rem;
  }

  &__link {
    text-decoration: none;
    color: var(--red);

    &:hover {
      border-bottom: .2rem solid var(--black);
    }
  }
}

/* ------------------- */
/* INTRO */

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url(../assets/img/pattern-transparent.png);
  position: relative;
  padding: 10rem 3rem;

  &::before {
    content: '';
    position: absolute;
    width: 4.7rem;
    height: 44.7rem;
    background: url(../assets/img/bg-red-blob.png) no-repeat;
    right: 0;
    bottom: -10rem;
  }

  &__title {
    font-size: 4.5rem;
    line-height: 5rem;
    margin-bottom: 4.5rem;
  }

  &__text {
    width: 35rem;
    margin-top: 1.5rem;
    margin-left: 4rem;
  }

  &__img {
    margin-top: -5rem;
    margin-left: -10rem;
    align-self: flex-start;
    width: 40vw;
    max-width: 60rem;
  }

  &__content {
    display: flex;
    flex-flow: column;
    justify-content: center;
    height: 100%;
    margin-left: 5rem;
    margin-top: 2rem;
  }

  &__button {
    margin-top: 5rem;
    margin-left: 15rem;
    margin-bottom: 5rem;
  }
}

.intro__article__title {
  margin-left: 2rem;
}

/* ------------------- */
/* WAT */

.wat {
  height: 31.5rem; /* responsive */
  background: var(--red);
  color: white;

  &__text {
    width: 27rem;
    text-align: center;
  }
}

.wat__figure {
  height: 80%;
  justify-content: space-between;
  margin: 7.5rem; /* responsive */
}

.kerst, .paas, .smaken {
  mix-blend-mode: luminosity;
}

/* ------------------- */
/* UPCOMING EVENTS */

.upcoming {
  margin-top: 7rem;
  flex-flow: row wrap;

  &__header {
    width: 100%;
    margin-bottom: 3.5rem;
  }
}

.upcoming__event {
  align-items: flex-start;
  position: relative;
  margin: 5rem;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    width: 11rem;
    height: 15rem;
    background: url(../assets/img/bg-black-topRight.png) no-repeat;
    top: 3.5rem;
    right: -2rem;
  }

  &__date {
    margin: 1rem 0;
  }

  &__desc {
    width: 32rem;
    text-align: center;
  }

  &__poster {
    width: 35rem;
    height: 20rem;
    margin-bottom: 1rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 3rem;
    clip-path: polygon(100% 0, 95% 100%, 0 100%, 5% 0);

    &__image {
      width: 100%;
      height: auto;
    }

    &__header {
      position: absolute;
      bottom: 5%;
      background: var(--blue);
      border-radius: 1rem;
      width: 90%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &__title {
      font-family: 'OpenSans SemiBold';
      font-size: 1.4rem;
      color: var(--white);
    }
  }

}

/* ------------------- */
/* TINNENPOT */

.tinnenpot {
  background: var(--white);
  padding: 5rem 2rem 5rem 6rem;
  flex-flow: row wrap;
  justify-content: space-around;
  position: relative;

  &::before {
    position: absolute;
    content: '';
    width: 6rem;
    height: 50rem;
    background: url(../assets/img/bg-right-red.png) no-repeat;
    background-size: 100% 100%;
    bottom: -4rem;
    left: 0;
  }

  &__header {
    position: relative;
    z-index: 10;
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 2rem;

    &::before {
      content: '';
      position: absolute;
      z-index: -2;
      width: 25rem;
      height: 1rem;
      border-radius: .5rem;
      background: var(--yellow);
    }
  }

  &__title {
    margin-left: 1rem;
  }

  &__text__container {
    margin-right: 5rem;
  }

  &__text {
    width: 45rem;
    margin: 1.5rem;
  }
}

/* ------------------- */
/* PRAKTISCH */

.praktisch {
  height: 35rem;
  margin-top: -5rem;
  display: flex;
}

.tickets {
  padding: 6rem; /* responsive */
  width: 55%;
  margin-right: -10%;
  height: 100%;
  z-index: 5;
  position: relative;
  background: var(--red);
  display: flex;
  flex-flow: column;
  justify-content: center;
  clip-path: polygon(85% 0, 100% 100%, 0 100%, 0 0);

  &::after {
    content: '';
    position: absolute;
    right: -5rem;
    width: 20rem;
    height: 15rem;
    background: url(../assets/img/bg-tickets.png) no-repeat;
    background-size: 100% 100%;
  }

  &__text {
    width: 43rem;
    margin-top: 3rem;
  }
}

.locaties {
  width: 55%;
  height: 100%;
  padding: 6rem;
  background: var(--yellow);
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: flex-end;
  clip-path: polygon(0 0, 100% 0%, 100% 100%, 15% 100%);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    left: -2rem;
    width: 20rem;
    height: 15rem;
    background: url(../assets/img/bg-location.png) no-repeat;
    background-size: 100% 100%;
  }

  &__text {
    margin-bottom: 3rem;
    text-align: right;
  }
}

/* ------------------- */
/* BLOGS */

.blogs {
  background: url(../assets/img/pattern-transparent.png);
  flex-flow: row wrap;
  justify-content: flex-start;
  padding: 5rem;
  margin-top: 5rem;

  &__title {
    margin-left: 3rem;
  }

  &__image {
    margin: 4rem;
  }
}

.blog1__text {
  width: 52.5rem;
  margin: 1.5rem;
}

/* ------------------- */
/* PARTNERS */

.partners {
  background: var(--white);
  margin-top: 3rem;

  &__header {
    position: relative;
    z-index: 3;
    margin-top: -2rem;

    &::before {
      content: '';
      position: absolute;
      z-index: -1;
      width: 50rem;
      height: 1rem;
      border-radius: .5rem;
      background: var(--yellow);
    }
  }

  &__images {
    margin: 3rem;
  }

  &__logo {
    margin: 3rem;
  }
}

/* ------------------- */
/* PAGE FOOTER */

.page__footer {
  height: 17.5rem;
  background: var(--black);
  justify-content: space-between;
  padding: 3rem;

  &__nav {

    &__item {
      margin: 1rem;
    }

    &__link {
      text-decoration: none;
      color: var(--red);
    }
  }

  &__newsletter {
    width: 50rem;

    &__button {
      background: var(--yellow);
      width: 15rem;
      height: 5rem;
      color: var(--black);
    }

    &__email {
      width: 32rem;
      height: 5rem;
      margin-right: 2rem;
      text-align: center;
      font-size: 1.6rem;
    }

    &__title {
      margin: 2rem;
    }
  }
}

.contact__email {
  text-decoration: none;
  color: var(--red);
  display: block;
  margin-top: 1rem;
}

/* ------------------- */
/* PROGRAMMA */

.programma {
  background: url(../assets/img/pattern-transparent.png);
  padding: 5rem 2rem;

  &__header {
    margin-top: 5rem;
    margin-bottom: 2rem;
  }

  &__main__filter {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
  }
}

.periodes {
  /*margin: 3rem;*/
  margin-right: 2rem;
  margin-bottom: 2rem;
  width: 100%;
  height: 16rem; /* responsive */
  display: flex;
  flex-flow: column;
  align-items: center;
  border: 1rem solid var(--orange);
  border-radius: 1rem;
  position: relative;

  &__header {
    align-self: flex-start;
    position: absolute;
    top: -2rem;
    left: 1rem;
  }

  &__button {
    width: 20rem;
    height: 4.5rem;
    border-radius: 1rem;
    color: white;
    font-size: 2.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #acacac;
    text-decoration: none;
    font-family: chewy;
    margin: 1.5rem;

    &:hover {
      color: var(--yellow);
    }

    &--selected {
      background: var(--red);
    }
  }
}

.datums {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  border: 1rem solid var(--orange);
  border-radius: 1rem;
  height: 16rem;
  position: relative;

  &__header {
    align-self: flex-start;
    position: absolute;
    top: -2rem;
    left: 1rem;
  }

  &__button {
    margin: 1rem;
    width: 26rem;
    height: 9.5rem;
    color: white;
    background: #acacac;
    border-radius: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;

    &:hover {
      color: var(--yellow);
    }

    &--selected {
      background: var(--red);
    }
  }
}

.theater {
  width: 34rem;
  border: 1rem solid var(--yellow);
  border-radius: 1rem;
  position: relative;
  padding: 1rem;

  &__header {
    /*align-self: flex-start;*/
    position: absolute;
    top: -2rem;
    left: 1rem;
  }

  &__form {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    flex-flow: row wrap;
  }

  &__tag {
    margin: .5rem;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: .2rem solid;
    width: 8.5rem;
    height: 3.5rem;
    border-radius: 1rem;

    &__alles {
      width: 19rem;
    }

    &__checkbox {
      width: 100%;
      height: 100%;
      border: none;
      background: none;
      position: absolute;
      opacity: 0;
    }

    &--active {
      background: var(--orange);
    }
  }
}

.leeftijd {
  width: 34rem;
  height: 100%;
  margin-left: 2rem;
  align-content: center;
  display: flex;
  align-items: center;
  border: 1rem solid var(--yellow);
  border-radius: 1rem;
  height: 16rem;
  position: relative;

  &__header {
    align-self: flex-start;
    position: absolute;
    top: -2rem;
    left: 1rem;
  }

  &__button {
    margin: 1rem;
    width: 12rem;
    height: 4rem;
    border-radius: 2rem;
    border: .2rem solid var(--blue);
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: var(--blue);

    &--selected {
      background: var(--blue);
      color: white;
    }
  }
}

.second__main {
  align-items: flex-start;
}

.secondary__filter__wrap {
  align-items: flex-start;
  transition: all 350ms cubic-bezier(.77, 0, .17, 1);
  transform-origin: center top;

  &--close {
    transform: scale(1, 0);
    display: none;
  }

  &--open {
    transform: scale(1, 1);
    display: visible;
  }
}

.programma__events {

}

.programma__event {
  width: 38rem;
  margin: 2rem;
  display: flex;
  flex-flow: column;

  &__hour {
    display: inline-block;
    margin-right: 2rem;
  }

  &__link {
    text-decoration: none;
    color: inherit;
  }

  &__poster {
    width: 35rem;
    height: 19rem;
    border-radius: 1rem;
    background: var(--black);
    position: relative;
  }

  &__image {
    width: 100%;
    height: auto;

    &--wrap {
      width: 100%;
      height: 100%;
      border-radius: 1rem;
      overflow: hidden;
    }
  }

  &__title {
    position: absolute;
    bottom: -2rem;
    right: -2rem;
    background: var(--blue);
    color: white;
    width: 30rem;
    height: 4rem;
    border-radius: 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__date {
    background: var(--yellow);
    margin-bottom: -2rem;
    margin-left: -2rem;
    border-radius: 1rem;
    width: 20rem;
    height: 6.5rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding: 1rem;
    position: relative;
    z-index: 5;

    &__day {
      margin-top: .5rem;
    }
  }

  &__tag {
    display: inline-block;
    margin-top: 3rem;
    margin-right: 1rem;
    text-align: right;
  }
}

/* ------------------- */
/* DETAILS */
.details {
  padding-top: 10rem;
  display: flex;
  flex-flow: column;
  align-items: center;

  &__header {
    margin-bottom: 5rem;
  }

  &__article {
    background: url(../assets/img/pattern-transparent.png), var(--white);
    width: 95%;
    border-radius: 1rem;
    padding: 3rem;
    display: flex;
    justify-content: space-between;
    position: relative;
  }
}

.details__content {

  &__wrap {
    width: 52.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
  }

  &__header {
    width: 100%;
  }
}

.details__image__wrap {
  width: 100%;
  height: 28rem;
  overflow: hidden;
  border-radius: 1rem;
  margin: 1rem;
}

.details__image {
  width: 100%;
  height: auto;
}

.details__info {
  background: var(--yellow);
  position: absolute;
  height: 110%;
  top: -5%;
  right: -2.6%;
  width: 27rem;

  &::after {
    content: '';
    position: absolute;
    width: 13.3rem;
    height: 102%;
    left: -8.8rem;
    background: url(../assets/img/bg-info.png) no-repeat;
    background-size: 100% 100%;
  }
}

.margin-text {
  margin-bottom: 1rem;
}

.details__into__text {
  width: 90%;
  align-items: flex-start;
  text-align: left;
}

.tickets__button {
  margin-top: 1.5rem;
  background: var(--red);

  &:hover {
    color: black;
  }
}

.details__second {
  justify-content: space-around;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 10rem;

  &__paragraph {
    width: 54rem;
    margin-bottom: 1.5rem;
  }
}

.praktisch--details {
  width: 100%;
  height: 45rem;
  margin-bottom: 3rem;
}

.programma__main__filter {
  align-items: flex-start;
}

.toggle__container {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
  margin-right: 2rem;
  height: 24rem;
}

.filter__toggle {
  height: 5rem;
  order: 0;
  border: 2px solid var(--orange);
  font-family: 'OpenSans Regular';
  font-size: 2.4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  border-radius: 1rem;
  color: var(--black);

  &--active {
    background: var(--orange);
  }
}

.secondary__filter__wrap {
  margin-top: 2.5rem;
}

.filter__toggle--second {
  display: none;
}

.upcoming--details {
  margin: 0;
}

@media (width <= 1300px) {

  .intro__title {
    font-size: 3.5vw;
  }

  .tinnenpot {
    justify-content: space-between;

    &__text__container {
      margin-right: 2.5rem;
    }

    &__image {
      width: 45vw;
      height: auto;
    }
  }
}

@media (width <= 1100px) {

  .datums {
    flex-flow: column;
    height: auto;
  }

  .datums {
    height: 24rem;
  }

  .programma__main__filter {
    margin-bottom: 2rem;
  }

  .periodes {
    margin: 0;
  }

  .page__logo {
    width: 40vw;
    height: auto;
  }

  html {
    font-size: 60%;
  }

  .intro__title {
    font-size: 3.8rem;
    line-height: 4rem;
  }

  .tinnenpot {

    &__text {
      width: 35vw;
    }

    &__image {
      width: 50rem;
    }
  }
}

@media (width <= 1000px) {

  .details__second {

    &__image {
      width: 40%;
    }

    &__text {
      width: 50%;
      padding-left: 2rem;
    }

    &__paragraph {
      width: 100%;
    }
  }

  .details__article {
    width: 100%;
  }

  .details__content__wrap {
    width: 50%;
  }

  .tickets, .locaties {
    position: static;
    width: 50%;
    margin: 0;
    clip-path: initial;
    padding: 3rem;

    &::after {
      content: none;
    }
  }

  .page__logo {
    width: 40rem;
    height: auto;
  }

  html {
    font-size: 60%;
  }

  .intro__content {
    margin: 0;
  }

  .intro__img {
    margin-left: 0;
    width: 40rem;
  }

  .intro {
    justify-content: space-between;
  }

  .tinnenpot {
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &__text {
      width: 48rem;
    }

    &__text__container {
      align-self: flex-start;
    }
  }
}

@media (width <= 900px) {

  .details__content__wrap {
    width: 41.2rem;
  }

  .praktisch {
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }

  .upcoming--details {
    align-self: center;
  }

  .tickets, .locaties {
    width: 100%;
    padding: 5rem 2rem;
  }

  .tickets--details, .locaties--details {
    padding: 2rem;
  }

  .tickets__text {
    width: 95%;
    max-width: 43rem;
  }

  .intro {
    flex-flow: column;
    justify-content: center;
    align-items: center;

    &__img {
      display: none;
    }

    &__title {
      text-align: center;
    }

    &__content {
      align-items: center;
    }

    &__button {
      margin: 2rem 0;
    }

    &__text {
      margin: 2rem 0;
      text-align: center;
    }

    &__article__title {
      margin: 0;
      text-align: center;
    }
  }
}

@media (width <= 850px) {

  html {
    font-size: 58%;
  }

  .bg-title::before, .partners__header::before {
    content: none;
  }

  .intro__content {
    margin-top: 3rem;
  }

  .blogs {
    justify-content: center;
    padding: 5rem 2rem;

    &__header {
      text-align: center;
    }

    &__title {
      margin: 0;
    }
  }

  .blogs__image {
    width: 80vw;
    height: auto;
    max-width: 40rem;
  }

  .blog1 {

    &__text {
      width: 90%;
    }
  }

  .page__footer {
    flex-flow: column;
    height: auto;
    padding: 3rem 0;

    &__nav {
      display: flex;
      flex-flow: column;
      align-items: center;
    }

    &__newsletter {
      margin: 1.5rem 0 5rem;
      flex-flow: column;
      align-items: center;

      &__email {
        margin-right: 0;
        margin-bottom: 2rem;
      }
    }
  }
}

@media (width <= 750px) {

  .size--60 {
    font-size: 5.2rem;
  }

  .programma {
    padding-top: 10rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .details {
    padding-top: 15rem;

    &__article {
      padding: 3rem 0;
    }
  }

  .tickets__button {
    margin: 1.5rem 3rem;
    align-self: flex-start;
  }

  .details__content__wrap {
    max-width: 65rem;
    width: 90vw;
  }

  .details__info {
    position: static;
    height: auto;
    width: 100%;
    margin-top: 2rem;
    padding-top: 2rem;

    &__text {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: center;
      text-align: center;
    }

    &::after {
      content: '';
    }
  }

  .details__second {

    flex-flow: column;

    &__text {
      margin: 0;
      width: 70%;
    }

    &__image {
      width: 32rem;
    }
  }

  .secondary__filter__wrap, .details__article {
    flex-flow: column;
    align-items: center;
  }

  .leeftijd {
    margin-left: 0;
    margin-top: 2rem;
  }

  .page__header {
    flex-flow: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 2rem 0;
  }

  .page__nav__item {
    margin: 1rem 2rem;
  }

  .intro__content {
    margin-top: 6rem;
  }

  .wat {
    flex-flow: column;
    height: auto;

    &__figure {
      margin: 3rem 0;
    }

    &__images {
      margin: 2rem 0;
    }
  }

  .tinnenpot {
    padding: 5rem 2rem;

    &::before {
      content: none;
    }

    &__text__container {
      align-self: center;
      margin: 0;
    }

    &__text {
      text-align: center;
    }
  }
}

@media (width <= 500px) {

  .details__second {
    flex-flow: column;

    &__text {
      margin: 0;
      width: 85%;
    }
  }

  .toggle__container {
    margin-right: 0;
    height: auto;
  }

  .filter__toggle--first {
    display: none;
  }

  .filter__toggle--second {
    width: 25rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 1rem;
  }

  .datums {
    margin-top: 2rem;
  }

  .programma__event {
    max-width: 32rem;
    width: 100%;

    &__title {
      right: 2rem;
    }
  }

  .programma__main__filter {
    flex-flow: column;
    align-items: center;
  }

  .page__logo {
    width: 30rem;
  }

  .page__nav__item {
    margin: 1rem;
  }

  .intro__title {
    font-size: 3.4rem;
    margin-bottom: 2rem;
  }

  .intro::before {
    content: none;
  }

  .intro {
    padding: 10rem 1rem 0;

    &__text {
      width: 90%;
    }

    &__article {
      display: flex;
      flex-flow: column;
      align-items: center;
    }
  }

  .mobile-br {
    display: none;
  }

  .upcoming__event {
    margin: 2rem;
    align-items: center;

    &::before {
      content: none;
    }

    &__poster {
      width: 30rem;
    }
  }

  .tinnenpot {

    &__text {
      width: 95%;
    }

    &__image {
      width: 100%;
      margin-top: 2rem;
    }
  }

  .button {
    margin: 5rem 0;
  }

  .page__footer__newsletter__button {
    margin: 0;
  }

  .tickets__button {
    align-self: center;
  }

  .size--30 {
    font-size: 2.6rem;
  }

  .size--40 {
    font-size: 3.4rem;
  }

  .size--60 {
    font-size: 4.8rem;
  }

}
